# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

OBJECTIVES

In [22]:
mi_lista0 = ['SQL','python','java']
mi_lista0.sort()
print(mi_lista0)

['SQL', 'java', 'python']

In [19]:
mi_lista1 = ('Java','SQL','C++','Python')
print(mi_lista1)

('Java', 'SQL', 'C++', 'Python')

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

In [4]:
mi_lista2 = ['Pandas','Numpy','Matploitlib']
print(mi_lista2)

['Pandas', 'Numpy', 'Matploitlib']

Data Science Tools

In [9]:
mi_tabla1 = ['Data Science Tools','R', 'Gitgub','Python']

print(mi_tabla1[0])
print(mi_tabla1[1])
print(mi_tabla1[2])
print(mi_tabla1[3])

Data Science Tools
R
Gitgub
Python

### below are a few examples of evaluating arithmetic expressions in Python

In [10]:
3*5

72.2568

In [11]:
9/4

2.25

In [12]:
1878+86767

88645

In [16]:
#this a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [18]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Braulio HIram Gutierrez Roldan